header{
    position: absolute;
    display: flex;
    width: 100%;

}
.project{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 30%;
}
a, ul{
    list-style: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.project>a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
li>a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}
nav{
    width: 50%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}









.textbox{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.textbox p{
    width: 45%;
    text-align: justify;
}










.footer_information{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,65px);
}

.footer_logo{
    grid-column: 1;
    grid-row: 1;
}

.adress{
    grid-column: 3;
    grid-row: 1;
}

.email{
    grid-column: 3;
    grid-row: 2;
}

.copyright{
    grid-column: 6/8;
    grid-row: 2;
}

/* aditional */
.headline_section, 
.background1,
.background2,
.main_section,
.about_culture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}







@media only screen and (max-width: 768px) {
    nav{
        display: none;
    }
    header{
        justify-content: space-between;
    }

    .menu_icon{
        display: inline-block;
        margin-right: 10px;
    }

    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }  
    .main_section .headlines,
    .main_section .subheader {
        text-align: left;
        margin-left: 10px;
    }
    .textbox{
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
    }
    .textbox p{
        width: 100%;
        text-align: left ;
    }
    footer{
        height:250px;
    }

    .footer_information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        line-height: 35px;
    }
    
}