.logo{
    transform: perspective(100px) rotate(0deg);
    transition: all 0.5s;
}

.logo:hover{
    transform: perspective(100px) rotateY(-180deg) scale(1.8);
}

.btn_readme{
    transform: perspective(100px) rotate(0deg);
    transform-origin: left;
    transition: all 0.5s;
}

.btn_readme:hover{
    transform: perspective(100px) rotateZ(10deg);
}

.btn_play{
    transform: perspective(100px);
    transition: all 0.5s;
}

.btn_play:hover{
    color: #39C2D7;
    background: #FFFFFF;
    transform: perspective(100px) scale(0.9);
}
